<!-- <!DOCTYPE html>
<html>
<head>

</head>

<body>
  <div class='container'>
    <div class='row'>
      <h5>Stock Prices vs. Inflation</h5>
      <input type="text" id="stock" placeholder="TICKER SYMBOL">
      <button id="searchButton">SEARCH</button>
    </div>
    <div class="row">
      <div class="graph">
        <canvas id="graph"></canvas>
      </div>
    </div>
  </div>
</body>
</html> -->
<h1>home page - welcome!</h1>
