<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <div class='container'>

    <div class='row nav'>
      <h5>Stock Prices vs. Inflation</h5>
      <input type="text" id="stock" placeholder="TICKER SYMBOL">
      <button id="searchButton">SEARCH</button>

      <div class="saved">
        <select name="select" id="dropdown">
          <option disabled selected>Favorite Stocks</option>
        </select>
      </div>
    </div>

    <div class="row main">
      <div class="graph">
        <canvas id="graph"></canvas>
      </div>
    </div>

  </div>
</body>
</html>
